
<form action="">
<div class="container form-control w-50 mt-5 p-3" style="background: rgba(57,87,79,0.5); border-radius: 25px;">
    <div class="text-center text-white">
            <h1>Deposit</h1>
    </div>       
    <div>
        <input type="text" placeholder="Account Number" id="acid1" name="uname1" >
        <input type="text" placeholder="Password" id="psid1" name="pswd1">
        <input type="text" placeholder="Amount" id="amid1" name="amnt1">
    </div>
    <div>
        <button type="submit" class="btn btn-outline-light">Deposit</button>
    </div>
</div>   
</form>


<form action="">
    <div class="container form-control w-50 mt-5 p-3" style="background: rgba(57,87,79,0.5); border-radius: 25px;">
        <div class="text-center text-white">
                <h1>Withdraw</h1>
        </div>       
        <div>
            <input type="text" placeholder="Account Number" id="acid" name="uname" >
            <input type="text" placeholder="Password" id="psid" name="pswd">
            <input type="text" placeholder="Amount" id="amid" name="amnt">
        </div>
        <div>
            <button type="submit" class="btn btn-outline-light">Withdraw</button>
        </div>
    </div>   
    </form>
    
